{% extends 'addline/base.html' %}
{% block content %}
{% load static %}

<script src="{% static 'addline/jquery-3.1.1.js' %}"></script>

<script src="{% static 'addline/main.js' %}"></script>

<script type="text/javascript">
function showDiv(toggle){
if (document.getElementById(toggle).style.display == 'none'){
document.getElementById(toggle).style.display = 'block';


}
else {
document.getElementById(toggle).style.display = 'none';

}
}
</script>

<form action="/addline/{{expLine.id}}/addAbstractWkf/" method="POST" id="post-form">
{% csrf_token %}
<h1>Add Abstract Workflow</h1>
<h3>Experiment Line: {{ expLine.name}}</h3>
<div>
Select the available Activities from the Experiment Line:<br>
{% for activity in eLAct_list %}
    <input type="checkbox" name="eLActivity" id="eLActivity{{ activity.id }}" value="{{ activity.id}}" />
    <label for="eLActivity{{ activity.id }}">{{ activity.name}}</label><br />
{% endfor %}
</div>

{% include 'svg/workflow.svg' %}

</form>

<form action="/addline/{{expLine.id}}/addAbstractWkf/" method="POST" id="post-form">
{% csrf_token %}

    <input type="submit" value="View New Workflow" class="tiny button">

</form>
<input type="button" name="answer" onclick="showDiv('toggleExpLine')" value="show/hide ExpLine"></input>

<input type="button" name="answer" onclick="showDiv('toggleDerivation')" value="show/hide available derivations"></input>

 <div id="toggleExpLine" style="display:none;" class="answer_list">
{% include 'svg/expline.svg' %}
</div>

 <div id="toggleDerivation" style="display:none;" class="answer_list">
{% include 'svg/derivations.svg' %}
 </div>

{% endblock %}