<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<script type="text/javascript">
function showDiv(toggle){
if (document.getElementById(toggle).style.display == 'none'){
document.getElementById(toggle).style.display = 'block';


}
else {
document.getElementById(toggle).style.display = 'none';

}
}
</script>

<form class="form-horizontal" method="POST">

<h1>Add Abstract Workflow</h1>
<h3>Experiment Line: {{ expLine.name}}</h3>
{% load static %}
<div>
Select the available Activities from the Experiment Line:<br>
{% for activity in eLAct_list %}
    <input type="checkbox" name="eLActivity" id="eLActivity{{ activity.id }}" value="{{ activity.id}}" />
    <label for="eLActivity{{ activity.id }}">{{ activity.name}}</label><br />
{% endfor %}
</div>

</form>

<input type="button" name="answer" onclick="showDiv('toggleDerivation')" value="show/hide available derivations"></input>
<input type="button" name="answer" onclick="showDiv('toggleExpLine')" value="show/hide ExpLine"></input>

 <div id="toggleExpLine" style="display:none;" class="answer_list">
{% include 'svg/expline.svg' %}
</div>

 <div id="toggleDerivation" style="display:none;" class="answer_list">
{% include 'svg/derivations.svg' %}
 </div>

</body>
</html>