<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script>
    {% if messages %}
        {% for message in messages %}
            alert(message);
        {% endfor %}
    {% endif %}
    </script>
</head>
<body>
<h1>Add New Experiment Line Activities</h1>

<h2>{{ expLine.name}}</h2>

<form class="form-horizontal" method="POST">

<!--<form action="" method="post" >-->
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="{{ form.name.id_for_label }}"> Name :</label>
        <div class="controls">
            {{form.name}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.operation.id_for_label }}"> Operation :</label>
        <div class="controls">
            {{form.operation}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.variant.id_for_label }}"> Variant :</label>
        <div class="controls">
            {{form.variant}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="{{ form.optional.id_for_label }}"> Optional :</label>
        <div class="controls">
           {{form.optional}}
        </div>
    </div>
    {{form.expLine}}

    {% if eLAct_list %}
    Dependency:<br>
    {% for activity in eLAct_list %}
        <input type="checkbox" name="dependency" id="dependency{{ activity.id }}" value="{{ activity.id}}" />
        <label for="dependency{{ activity.id }}">{{ activity.name}}</label><br />
    {% endfor %}
    {% else %}
        <input hidden name="dependency" value= None>
    {% endif %}

    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <button class="btn btn-large btn-block btn-success submit-button" type="submit" >Add </button>
        </div>
    </div>
</form>


<!--<form action="" method="post" >-->
    <!--{% csrf_token %}-->
    <!--Name:<br>-->
    <!--<input type="text" name="name"><br>-->
    <!--<input hidden name="expline" value= {{expLine.id}}>-->
    <!--Operation:<br>-->
    <!--<input type="text" name="operation"><br>-->
    <!--Variant:<br>-->
    <!--<input type="text" name="variant"><br>-->
    <!--Optional:<br>-->
    <!--<input type="text" name="optional"><br>-->
    <!--{% if eLAct_list %}-->
        <!--Dependency:<br>-->
        <!--{% for activity in eLAct_list %}-->
            <!--<input type="checkbox" name="dependency" id="dependency{{ activity.id }}" value="{{ activity.id }}" />-->
            <!--<label for="dependency{{ activity.id }}">{{ activity.name}}</label><br />-->
        <!--{% endfor %}-->
    <!--{% else %}-->
        <!--<input hidden name="dependency" value= None>-->
    <!--{% endif %}-->


    <!--<input type="submit"  value="Add"/>-->
<!--</form>-->
</body>
</html>