{% extends 'addline/base.html' %}
{% block content %}
<h1>Add New Experiment Line Activities</h1>

<h2>{{ expLine.name}}</h2>

<form class="form-horizontal" method="POST">

<!--<form action="" method="post" >-->
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label"> Name :</label>
        <div class="controls">
            {{form.name}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"> Operation :</label>
        <div class="controls">
            {{form.operation}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"> Variant :</label>
        <div class="controls">
            {{form.variant}}
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"> Optional :</label>
        <div class="controls">
           {{form.optional}}
        </div>
    </div>
    {{form.expLine}}

    {% if eLAct_list %}
    Dependency:<br>
    {% for activity in eLAct_list %}
        <input type="checkbox" name="dependency" id="dependency{{ activity.id }}" value="{{ activity.id}}" />
        <label for="dependency{{ activity.id }}">{{ activity.name}}</label><br />
    {% endfor %}
    {% else %}
        <input hidden name="dependency" value= None>
    {% endif %}

    <div class="control-group">
        <label class="control-label"></label>
        <div class="controls">
            <button class="btn btn-large btn-block btn-success submit-button" type="submit" >Add </button>
        </div>
    </div>
</form>
{% endblock %}