{% extends 'addline/base.html' %}
{% load static %}

{% block gd %}
        <h1>Manage Abstract Workflows</h1>

{% endblock %}

{% block content %}
        <h3>Experiment Line: {{ expLine.name}}</h3>

<div>
Select the Abstract Activity:<br>
    <ul id="aactList">

{% for workflow in workflow_list %}
    <li><a href="/addline/{{ expLine.id }}/addAbstractWkf/{{workflow.id}}">{{ workflow.name }}</a></li>
{% endfor %}
        </ul>
</div>


<!--<div id="toggleNewAAct" style="display:none;" class="answer_list">-->

<form method="POST" id="aact-form">
    {% csrf_token %}
    {% for activity in availableAct_list %}
            <li>{{ activity.name }}</a></li>
    {% endfor %}

    <input type="submit" value="Add" class="tiny button">
</form>
<!--</div>-->


{% endblock %}
{% block content-right %}
        <h3>Textual visualization of the Workflow: {{ workflow.name}}  </h3>
        {% for activity in activities %}
        <li>{{activity }}</a>
        </li>
        {% endfor %}
{% endblock %}
{% block content-bottom %}
<input type="button" name="answer" onclick="showDiv('toggleNewAAct')" value="Add Abstract Activity"/><br/>

<input type="button" name="answer" onclick="showDiv('toggleExpLine')" value="show/hide ExpLine"/>

<input type="button" name="answer" onclick="showDiv('toggleDerivation')" value="show/hide available derivations"/>

 <div id="toggleExpLine" style="display:none;" class="answer_list">
{% include 'svg/expline.svg' %}
</div>

 <div id="toggleDerivation" style="display:none;" class="answer_list">
{% include 'svg/derivations.svg' %}
 </div>

{% endblock %}