{% extends 'addline/base.html' %}
{% load static %}


{% block gd %}
    <h1>{{ expLine.name}}</h1>
    <ul id="connected"></ul>
    <ul id="cardinality"></ul>
{% endblock %}


{% block content %}
    <!--<img src="{% static 'addline/expline.svg' %}" alt="My image"/>-->
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <div>


        {% if eLAct_list %}
            <form method="POST" id=expLine-check > {% csrf_token %}
                    <button class="button" type="submit" > Validate Experiment </button>
            </form>

            {% include 'svg/expline.svg' %}
        {% else %}
            <p>No Activities are available for this Experiment Line.</p>
        {% endif %}
    </div>

    <div id="toggleaddELAct" style="display:none;" class="answer_list">
        <form method="POST" id=ELA-form> {% csrf_token %}
            <div class="control-group">
                <label class="control-label" > Name :</label>
                <div class="fieldWrapper" id="exp-Name" >
                    {{form.name}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label"> Operation :</label>
                <div class="fieldWrapper" id="exp-operation" >
                    {{form.operation}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" > Variant :</label>
                <div class="fieldWrapper" id="exp-variant" >
                    {{form.variant}}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" > Optional :</label>
                <div class="fieldWrapper" id="exp-optional" >
                   {{form.optional}}
                </div>
            </div>

            {{form.expLine}}

            <input hidden id="expid" value="{{ expLine.id }}" />

            {% if eLAct_list %}
                Dependency:<br>
                {% for activity in eLAct_list %}
                    <input id='dependency' type="checkbox" name="dependency" id="dependency{{ activity.id }}" value="{{ activity.id}}" />
                    <label for="dependency{{ activity.id }}">{{ activity.name}}</label><br />
                {% endfor %}
            {% else %}
                <input hidden id='dependencyh' name="dependency" value= None>
            {% endif %}

            <div class="control-group">
                <div class="controls">
                    <br>
                    <button class="btn btn-large btn-block btn-success submit-button" type="submit" >Add </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


{% block content-bottom %}
    <input type="button" name="addELAct" onclick="showDiv('toggleaddELAct')" value="Add Activity"/>

    <input type="button" name="viewDerivation" onclick="showDiv('toggleDerivations')" value="View Derivation"/><br/>

    <div id="toggleDerivations" style="display:none;" class="answer_list">
          {% include 'svg/derivations.svg' %}
    </div>
    <br/>

    <form action="{% url 'addline:addAbstractWkf' expLine.id %}" method="get" > {% csrf_token %}
        <input type="submit" value="Manage Abstract Workflows" />
    </form>
{% endblock %}