{% extends 'addline/base.html' %}
{% block content %}

{% if latest_expline_list %}

<ul>
    <h1>Choose an Experiment Line</h1>
</ul>
<ul id="expLineList">
    {% for expline in latest_expline_list %}
    <li><a href="/addline/{{ expline.id }}/">{{ expline.name }}</a></li>
    {% endfor %}

</ul>
{% else %}
<p>No Experiments Line are available.</p> {% endif %}
<!--<h5> <a href="/addline/addExpLine/">  Add new Experiment Line</a> </h5>-->

<div id="toggleNewExpLine" style="display:none;" class="answer_list">

<form method="POST" id="expLine-form">
    {% csrf_token %}
    <label class="control-label"> Name :</label>
    <div class="fieldWrapper" id="Name" >
        {{ form.name }}
    </div>
    <label class="control-label" > Description :</label>
    <div class="fieldWrapper" id="Description">
        {{ form.description }}
    </div>
    <input type="submit" value="Add" class="tiny button">
</form>
</div>
    {% for a in t  %}

        <li>{{ a}}</li>
        {% endfor %}
<input type="button" name="answer" onclick="showDiv('toggleNewExpLine')" value="Add ExpLine"/>

{% endblock %}


